@import '../variables';

.be-item-label {
    text-align: left;
    white-space: nowrap;
}

span.be-item-version-label {
	border: 1px solid #666;
	border-radius: 2px;
	color: #666;
	font-size: 0.7em;
	margin-left: 5px;
	padding: 0 3px 0 3px;
	cursor: pointer;
}

button.be-item-version-menu {
	padding: 0;
	border: none;
}


